.box{
    
    display: grid;
    justify-items: center;
    padding:450px;
    
    
    
    
    
    
    
    
}

*{
    margin: 0;
}

body{
    background-image: url(/proyectoQUIZ/image/1313868.png);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    
    
}
.contain{
    background-color: rgb(186, 224, 224);
    border-radius: 10px;
    width: 200px;
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;


}

.contain p{
    display: flex;
    justify-content: center;
    
    
}


.input1{
    
    outline: none;
    border-radius: 10px;
}

.p{
    font-size: 20px;
    color: rgb(0, 0, 0);
}


