body{
    background-image: url(/proyectoQUIZ/image/kaiju2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1400px;
    overflow-x: hidden;
    overflow-y: hidden;
}

*{
    margin: 0;
}

.box6{
    display: grid;
    justify-items: center;
    padding:450px;
    
}
.contain6{
    background-color: rgba(40, 97, 18, 0.527);
    border-radius: 10px;
    background-size: 100px 500px;
    box-sizing: border-box;
    border: 2px solid rgb(32, 83, 20);
    padding: 40px;
   

}


.lastInput{
    margin-left: 125px;
   
}
.inputQ{
    font-size: 20px;
    color: white;
    
}
h1{
    width: 400px;
    color: white;
}


button{
    margin-left: 10px;
}
button a{
    text-decoration:none;
    color: black;
   
    
}
