body{
    background-image: url(/proyectoQUIZ/image/godzilla.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1400px;
    overflow-x: hidden;
    overflow-y: hidden;
}
*{
    margin: 0;
}

.box2{
    display: grid;
    justify-items: center;
    padding:450px;
    
}
.contain2{
    background-color: rgba(214, 230, 230, 0.527);
    border-radius: 10px;
    background-size: 100px 500px;
    box-sizing: border-box;
    border: 2px solid rgb(46, 124, 168);
    padding: 40px;
   

}


.lastInput{
    margin-left: 125px;
   
}
.inputQ{
    font-size: 20px;
}
h1{
    width: 400px;
}

button{
    margin-left: 10px;
}
button a{
    text-decoration:none;
    color: black;
   
    
}

