body{
    background-image: url(/proyectoQUIZ/image/monsterverse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 1200px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    background-color: rgba(61, 134, 11, 0.548);
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    padding: 50px;

    border-radius: 10px;
    border: 5px solid green;
}


.container img{
    width: 300px;
    height: 300px;
    margin-left: 100px;
    border-radius: 50%;
    
    
    
}


.container h1{
    display: flex;
    justify-content: center;
}


span{
    font-size: 20px;
    color: rgb(186, 206, 186) ;
}





.container2{
    background-color: rgba(243, 209, 55, 0.548);
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    padding: 50px;

    border-radius: 10px;
    border: 5px solid rgb(224, 211, 21);
}
.container2 img{
    width: 300px;
    height: 300px;
    margin-left: 100px;
    border-radius: 50%;
    
    
    
}
.container3{
    background-color: rgba(182, 29, 29, 0.548);
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    padding: 50px;

    border-radius: 10px;
    border: 5px solid rgb(153, 22, 22);
}
.container3 img{
    width: 300px;
    height: 300px;
    margin-left: 100px;
    border-radius: 50%;
    
    
    
}

.container4{
    background-color: rgba(182, 77, 29, 0.548);
    width: 500px;
    height: 500px;
    display: grid;
    justify-content: center;
    padding: 50px;

    border-radius: 10px;
    border: 5px solid rgb(182, 77, 29, 0.548);
}
.container4 img{
    width: 300px;
    height: 300px;
    margin-left: 100px;
    border-radius: 50%;
    
    
    
}

/* ponlo si lo ves necesario */
/* button{
    margin-left: 10px;
}
button a{
    text-decoration:none;
    color: black;
   
    
} */
