
body{
    background-image: url(/proyectoQUIZ/image/1313868.png);
    background-size: 100% 1000px;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh

}


.contain{
    background-color: rgb(186, 224, 224);
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    
    padding: 30px;
    width: fit-content;
}
